.col-lg-6.wow.fadeInUp {
    margin-top: 0 !important;
}

.h2.mt-2 {
    margin-top: 0 !important;
}

.section-title {
    margin-bottom: 0 !important;
}

.mt-4 {
    margin-top: 2rem !important;
}

.mt-5 {
    margin-top: 2rem !important;
}
